/* component-button */

@layer components {
  /* button--primary is currently not in use. Style it and use it wherever you see fit */
  .button--primary {
    @apply  tw-bg-black tw-text-white tw-font-primary tw-font-medium hover:tw-bg-black;
  }

  .button--secondary,
  .button--tertiary {
    --color-button: var(--color-secondary-button);
    --color-button-text: var(--color-secondary-button-text);
  }

  .button--tertiary {
    --alpha-button-background: 0;
    --alpha-button-border: 0.2;
  }

  .button,
  .shopify-challenge__button,
  .customer button,
  button.shopify-payment-button__button--unbranded,
  .shopify-payment-button [role='button'],
  .cart__dynamic-checkout-buttons [role='button'],
  .cart__dynamic-checkout-buttons iframe {
    --shadow-horizontal-offset: var(--buttons-shadow-horizontal-offset);
    --shadow-vertical-offset: var(--buttons-shadow-vertical-offset);
    --shadow-blur-radius: var(--buttons-shadow-blur-radius);
    --shadow-opacity: var(--buttons-shadow-opacity);
    --shadow-visible: var(--buttons-shadow-visible);
    --border-offset: var(--buttons-border-offset); /* reduce radius edge artifacts */
    --border-opacity: calc(1 - var(--buttons-border-opacity));
    border-radius: var(--buttons-radius-outset);
    position: relative;
  }

  .button,
  .shopify-challenge__button,
  .customer button,
  button.shopify-payment-button__button--unbranded {
    min-width: calc(12rem + var(--buttons-border-width) * 2);
    min-height: calc(4.5rem + var(--buttons-border-width) * 2);
  }

  .shopify-payment-button__button--branded {
    z-index: auto;
  }

  .cart__dynamic-checkout-buttons iframe {
    box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius)
      rgba(var(--color-shadow), var(--shadow-opacity));
  }

  .button,
  .shopify-challenge__button,
  .customer button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 3rem;
    cursor: pointer;
    font: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(var(--color-button-text));
    transition: box-shadow var(--duration-short) ease;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(var(--color-button), var(--alpha-button-background));
  }

  .button:before,
  .shopify-challenge__button:before,
  .customer button:before,
  .shopify-payment-button__button--unbranded:before,
  .shopify-payment-button [role='button']:before,
  .cart__dynamic-checkout-buttons [role='button']:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: var(--buttons-radius-outset);
    box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius)
      rgba(var(--color-shadow), var(--shadow-opacity));
  }

  .button:after,
  .shopify-challenge__button:after,
  .customer button:after,
  .shopify-payment-button__button--unbranded:after {
    content: '';
    position: absolute;
    top: var(--buttons-border-width);
    right: var(--buttons-border-width);
    bottom: var(--buttons-border-width);
    left: var(--buttons-border-width);
    z-index: 1;
    border-radius: var(--buttons-radius);
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
        rgba(var(--color-button-text), var(--border-opacity)),
      0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background));
    transition: box-shadow var(--duration-short) ease;
  }

  .button:not([disabled]):hover::after,
  .shopify-challenge__button:hover::after,
  .customer button:hover::after,
  .shopify-payment-button__button--unbranded:hover::after {
    --border-offset: 1.3px;
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
        rgba(var(--color-button-text), var(--border-opacity)),
      0 0 0 calc(var(--buttons-border-width) + 1px) rgba(var(--color-button), var(--alpha-button-background));
  }

  .button--secondary:after {
    --border-opacity: var(--buttons-border-opacity);
  }

  .button:focus-visible,
  .button:focus,
  .button.focused,
  .shopify-payment-button__button--unbranded:focus-visible,
  .shopify-payment-button [role='button']:focus-visible,
  .shopify-payment-button__button--unbranded:focus,
  .shopify-payment-button [role='button']:focus {
    outline: 0;
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.5),
      0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  }

  .button:focus:not(:focus-visible):not(.focused),
  .shopify-payment-button__button--unbranded:focus:not(:focus-visible):not(.focused),
  .shopify-payment-button [role='button']:focus:not(:focus-visible):not(.focused) {
    box-shadow: inherit;
  }

  .button::selection,
  .shopify-challenge__button::selection,
  .customer button::selection {
    background-color: rgba(var(--color-button-text), 0.3);
  }

  .button,
  .button-label,
  .shopify-challenge__button,
  .customer button {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: calc(1 + 0.2 / var(--font-body-scale));
  }

  .button--tertiary {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    min-width: calc(9rem + var(--buttons-border-width) * 2);
    min-height: calc(3.5rem + var(--buttons-border-width) * 2);
  }

  .button--small {
    padding: 1.2rem 2.6rem;
  }

  /* Button - other */

  .button:disabled,
  .button[aria-disabled='true'],
  .button.disabled,
  .customer button:disabled,
  .customer button[aria-disabled='true'],
  .customer button.disabled,
  .quantity__button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .button--full-width {
    display: flex;
    width: 100%;
  }

  .button.loading {
    color: transparent;
    position: relative;
  }

  @media screen and (forced-colors: active) {
    .button.loading {
      color: rgb(var(--color-foreground));
    }
  }

  .button.loading > .loading-overlay__spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .button.loading > .loading-overlay__spinner .spinner {
    width: fit-content;
  }

  .button.loading > .loading-overlay__spinner .path {
    stroke: rgb(var(--color-button-text));
  }

  /* Button - social share */

  .share-button {
    display: block;
    position: relative;
  }

  .share-button details {
    width: fit-content;
  }

  .share-button__button {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: rgb(var(--color-link));
    margin-left: 0;
    padding-left: 0;
    min-height: 4.4rem;
  }

  details[open] > .share-button__fallback {
    animation: animateMenuOpen var(--duration-default) ease;
  }

  .share-button__button:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .share-button__button,
  .share-button__fallback button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .share-button__button .icon-share {
    height: 1.2rem;
    margin-right: 1rem;
    min-width: 1.3rem;
  }

  .share-button__fallback {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3rem;
    left: 0.1rem;
    z-index: 3;
    width: 100%;
    min-width: max-content;
    border-radius: var(--inputs-radius);
    border: 0;
  }

  .share-button__fallback:after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: var(--inputs-border-width);
    right: var(--inputs-border-width);
    bottom: var(--inputs-border-width);
    left: var(--inputs-border-width);
    border: 0.1rem solid transparent;
    border-radius: var(--inputs-radius);
    box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
    transition: box-shadow var(--duration-short) ease;
    z-index: 1;
  }

  .share-button__fallback:before {
    background: rgb(var(--color-background));
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--inputs-radius-outset);
    box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset)
      var(--inputs-shadow-blur-radius) rgba(var(--color-shadow), var(--inputs-shadow-opacity));
    z-index: -1;
  }

  .share-button__fallback button {
    width: 4.4rem;
    height: 4.4rem;
    padding: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: var(--inputs-border-width);
  }

  .share-button__fallback button:hover {
    color: rgba(var(--color-foreground), 0.75);
  }

  .share-button__fallback button:hover svg {
    transform: scale(1.07);
  }

  .share-button__close:not(.hidden) + .share-button__copy {
    display: none;
  }

  .share-button__close,
  .share-button__copy {
    background-color: transparent;
    color: rgb(var(--color-foreground));
  }

  .share-button__copy:focus-visible,
  .share-button__close:focus-visible {
    background-color: rgb(var(--color-background));
    z-index: 2;
  }

  .share-button__copy:focus,
  .share-button__close:focus {
    background-color: rgb(var(--color-background));
    z-index: 2;
  }

  .field:not(:focus-visible):not(.focused) + .share-button__copy:not(:focus-visible):not(.focused),
  .field:not(:focus-visible):not(.focused) + .share-button__close:not(:focus-visible):not(.focused) {
    background-color: inherit;
  }

  .share-button__fallback .field:after,
  .share-button__fallback .field:before {
    content: none;
  }

  .share-button__fallback .field {
    border-radius: 0;
    min-width: auto;
    min-height: auto;
    transition: none;
  }

  .share-button__fallback .field__input:focus,
  .share-button__fallback .field__input:-webkit-autofill {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
    outline-offset: 0.1rem;
    box-shadow: 0 0 0 0.1rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  }

  .share-button__fallback .field__input {
    box-shadow: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    filter: none;
    min-width: auto;
    min-height: auto;
  }

  .share-button__fallback .field__input:hover {
    box-shadow: none;
  }

  .share-button__fallback .icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .share-button__message:not(:empty) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0.8rem 0 0.8rem 1.5rem;
    margin: var(--inputs-border-width);
  }

  .share-button__message:not(:empty):not(.hidden) ~ * {
    display: none;
  }
}