/* component-quantity */

@layer components {
    .quantity {
        color: rgba(var(--color-foreground));
        position: relative;
        width: calc(14rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
        display: flex;
        border-radius: var(--inputs-radius);
        min-height: calc((var(--inputs-border-width) * 2) + 4.5rem);
    }

    .quantity:after {
        pointer-events: none;
        content: '';
        position: absolute;
        top: var(--inputs-border-width);
        right: var(--inputs-border-width);
        bottom: var(--inputs-border-width);
        left: var(--inputs-border-width);
        border: 0.1rem solid transparent;
        border-radius: var(--inputs-radius);
        box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
        transition: box-shadow var(--duration-short) ease;
        z-index: 1;
    }

    .quantity:before {
        background: rgb(var(--color-background));
        pointer-events: none;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: var(--inputs-radius-outset);
        box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius) rgba(var(--color-shadow), var(--inputs-shadow-opacity));
        z-index: -1;
    }

    .quantity__input {
        color: currentColor;
        font-size: 1.6rem;
        font-weight: 500;
        opacity: 0.85;
        text-align: center;
        background-color: transparent;
        border: 0;
        padding: 0 0.5rem;
        width: 100%;
        flex-grow: 1;
        -webkit-appearance: none;
        appearance: none;
    }

    .quantity__button {
        width: calc(4.5rem / var(--font-body-scale));
        flex-shrink: 0;
        font-size: 1.8rem;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(var(--color-foreground));
        padding: 0;
    }

    .quantity__button:first-child {
        margin-left: calc(var(--inputs-border-width));
    }

    .quantity__button:last-child {
        margin-right: calc(var(--inputs-border-width));
    }

    .quantity__button svg {
        width: 1rem;
        pointer-events: none;
    }

    .quantity__button:focus-visible,
    .quantity__input:focus-visible {
        background-color: rgb(var(--color-background));
        z-index: 2;
    }

    .quantity__button:focus,
    .quantity__input:focus {
        background-color: rgb(var(--color-background));
        z-index: 2;
    }

    .quantity__button:not(:focus-visible):not(.focused),
    .quantity__input:not(:focus-visible):not(.focused) {
        box-shadow: inherit;
        background-color: inherit;
    }

    .quantity__input:-webkit-autofill,
    .quantity__input:-webkit-autofill:hover,
    .quantity__input:-webkit-autofill:active {
        box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
        -webkit-box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
    }

    .quantity__input::-webkit-outer-spin-button,
    .quantity__input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .quantity__input[type='number'] {
        -moz-appearance: textfield;
    }

    .quantity__rules {
        margin-top: 1.2rem;
        position: relative;
        font-size: 1.2rem;
    }

    .quantity__rules .caption {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }

    .quantity__rules .divider+.divider::before {
        content: '\2022';
        margin: 0 0.5rem;
    }

    .quantity__rules-cart {
        position: relative;
    }

    product-info .loading-overlay:not(.hidden)~*,
    .quantity__rules-cart .loading-overlay:not(.hidden)~* {
        visibility: hidden;
    }
}